[Unit]
Description=GaragePiMQTT
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=%i
ExecStart=/usr/bin/python3 -u /opt/GaragePiMQTT/main.py

[Install]
WantedBy=multi-user.target
